%body
  .address-container
    
    %main.address-registration
      %section.address-registration--main
        %h2.address-registration--main--display 電話番号の確認
        %form.address-registration--main--form{action: "https://www.mercari.com/jp/signup/sms_confirmation/sms/", method: "POST", novalidate: "novalidate"}
          %input{name: "after_save_callback", type: "hidden", value: ""}/
          .address-registration--main--form--content
            .address-registration--main--form--content--group
              %label{for: "phone_number"} 携帯電話の番号
              %input.address-registration--main--form--content--group--input{name: "phone_number", placeholder: "携帯電話の番号を入力", type: "tel", value: ""}/
            %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            %button.btn-red{type: "submit"} SMSを送信する
            %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .text-right
              %a{href: "/jp/help_center/article/244/", target: "_blank"}
                電話番号の確認が必要な理由
                %i.icon-arrow-right
          %input{name: "__csrf_value", type: "hidden", value: "3ef84113945853b0f9a068949250dc4536547b906a8bfa369cc426ceae0c497c905da573597ec5515cbbfda31e78ecdafa9e40b58fd6a8180700720b742e1b87c"}/
          %input{name: "id", type: "hidden", value: "163335961"}/
  

  %form.l-single-inner{action: "https://www.mercari.com/jp/mypage/identification/save/", method: "POST", novalidate: ""}
    %div
      %p
        お客さまの本人情報をご登録ください。
        %br>/
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      %p.text-right
        %a{href: "/jp/help_center/article/495/", target: "_blank"}
          本人確認書類のアップロードについて
          %i.icon-arrow-right
    .form-group
      %label{for: "postal_code"} 郵便番号
      %span.form-arbitrary 必須
      %input.input-default{name: "zip_code", placeholder: "例）1234567", type: "text", value: ""}/
    .form-group
      %label{for: "prefecture"} 都道府県
      %span.form-arbitrary 必須
      .select-wrap
        %i.icon-arrow-bottom
        %select.select-default{name: "prefecture"}
          %option --
          %option 北海道
          %option 青森県
          %option 岩手県
          %option 宮城県
          %option 秋田県
          %option 山形県
          %option 福島県
          %option 東京都
          %option 神奈川県
          %option 埼玉県
          %option 千葉県
          %option 茨城県
          %option 栃木県
          %option 群馬県
          %option 山梨県
          %option 新潟県
          %option 長野県
          %option 富山県
          %option 石川県
          %option 福井県
          %option 愛知県
          %option 岐阜県
          %option 静岡県
          %option 三重県
          %option 大阪府
          %option 兵庫県
          %option 京都府
          %option 滋賀県
          %option 奈良県
          %option 和歌山県
          %option 鳥取県
          %option 島根県
          %option 岡山県
          %option 広島県
          %option 山口県
          %option 徳島県
          %option 香川県
          %option 愛媛県
          %option 高知県
          %option 福岡県
          %option 佐賀県
          %option 長崎県
          %option 熊本県
          %option 大分県
          %option 宮崎県
          %option 鹿児島県
          %option 沖縄県
    .form-group
      %label{for: "city"} 市区町村
      %span.form-arbitrary 必須
      %input.input-default{name: "city", placeholder: "例) 横浜市緑区", type: "text", value: ""}/
    .form-group
      %label{for: "address1_label"} 番地
      %span.form-arbitrary 必須
      %input.input-default{name: "address1", placeholder: "例) 青山1−1−1", type: "text", value: ""}/
    .form-group
      %label{for: "address2_label"} 建物名
      %span.form-arbitrary 任意
      %input.input-default{name: "address2", placeholder: "例) 柳ビル103", type: "text", value: ""}/
    %button.btn-default.btn-red{type: "submit"} 登録する
    .form-group.text-right
      %p
        %a{href: "/jp/help_center/article/423/", target: "_blank"}
          本人情報の登録について
          %i.icon-arrow-right
    %input{name: "__csrf_value", type: "hidden", value: "c33469e9f5ac639e50fbd5c24871be66f80d0c5b750ffcac4d78c24fc6e2743a583b6287af02d3a6d00770ac70d099d0687de77e3225d2316af0d85a8d821e5a3"}/
