.wrapper
  = render partial: "/sha/header"
  .main_background
    .l_container
      = render partial: "/sha/nav_side"
      .logout_container
        .logoutBox
          = link_to "#", class: "logoutBtn" do
            ログアウト
  = render partial: "/sha/footer"
