= link_to "items/new", class: "linkPurchaseBtn" do
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    .purchaseBtn__icon
      .image
        = image_tag("icon_camera.png", class: 'camera-image')
        