.logins{
    width: 100%;
    position: relative;
    background-color: #f5f5f5;
    height: 1000px;

    
    &__header{
        text-align: center;
        padding: 24px 0;
        height: 42px;

        img{
            width: 150px;
            height: 60px;
            vertical-align: middle;
            text-align: center;
        }
    }

    &__row{
        margin-left: -4px;
        margin-right: -4px;

        &__container{
            left: 25%;
            width: 50%;
            margin: 0 auto;
            background-color: white;
            height: 680px;

            &__header{
                padding: 20px 16px;
                margin: 8px 16px;

                h2{
                    text-align: center;
                    margin: 0 0 16px;
                    line-height: 160%;
                    font-size: 18px;
                    padding: 16px;
                    font-weight: bold;
                }
            }
            &__icons{
                display: flex;
                margin-bottom: 30px;

                &__icon{
                    width: 25%;
                    float: left;
                    height: 75px;
                    text-align: center;

                    img{
                        width: 75px;
                        height: 75px;
                        line-height: 49px;
                    }
                        
                    
                }
            }

            &__border{
                height: 22px;
                display: flex;
                margin-bottom: 16px;

                &__beforeborder{
                    flex-grow: 1;
                    height: 1px;
                    background: #E5E5E5;
                    margin: 0 0.4em;
                    width: 175px;
                    margin-top: 5px;
                }

                p{
                    font-size: 12px;
                }

                &__afterborder{
                    flex-grow: 1;
                    height: 1px;
                    background: #E5E5E5;
                    margin: 0 0.4em;
                    width: 175px;
                    margin-top: 5px;
                }
            }

            &__middle{

                margin: 0 0 16px;
                line-height: 160%;
                font-size: 18px;
                padding: 16px;
                font-weight: bold;
                text-align: center;
            }

            &__form{

                .form-field{
                    &__input{
                        margin-bottom: 26px;

                        input{
                            width: 85%;
                            height: 33px;
                            margin-left: 6%;
                        }                          
                    }

                    &__button{
                        margin-left: 26%;
                        margin-right: 26%;
                        height: 60px;
                        margin-top: 50px;

                        input{
                            padding: 10px 16px;
                            font-size: 15px;
                            line-height: 1.3333333;
                            border-radius: 6px;
                            color: #fff;
                            background-color: #fa4141;
                            border-color: #f92828;
                            width: 347px;
                            cursor: pointer;
                        }
                    }
                }
            }
            &__restart{
                font-size: 14px;
                text-align: center;
                margin-top: 48px;
                text-decoration: none;
                a{
                    text-decoration: none;
                    color: #555555;
                }
            }
        }
        &__br{
            margin-top: 40px;
            margin-bottom: 22px;
            border: 0;
            border-top: 1px solid #BBBBBB	;
        }

        &__registation{
            text-align: center;
            margin-top: 25px;

            h2{
                margin-bottom: 30px;
            }

            button{
                height: 50px;
                width: 250px;
                background-color: #FFF;
                cursor: pointer;
            }
        }

        &__footer{
            height: 100px;
            background-color:#DDDDDD;
            margin-top: 40px;
            position: relative;

            p{
                bottom: 13px;
                left: 44%;
                font-size: 10px;
                position: absolute;
            }
        }
    }

    
}

