.wrapper{
  .content__credit{
    width: 700px;
    h2{
      font-size: 24px;
      padding: 8px 24px;
      background: white;
      text-align: center;
    }
    &--card{
      padding: 40px 40px 64px;
      background: white;
      
      &__inner{
        max-width: 343px;
        margin: auto;
        .label{
          font-weight: 600;
        }
        .input-number{
          width: 100%;
          height: 32px;
          padding: 10px 0px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          margin: 16px 0;
        }
        .cards-expire{
          margin-top: 32px;
          &--require{
            background: #3CCACE;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 9px;
            color: #fff;
            font-size: 12px;
          }
          &__wrap{
            display: inline-block;
            width: calc(50% - 3px);
            .input-expire{
              width: calc(100% - 38px);
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              margin: 8px 0 0 0;
            }
            span{
              vertical-align: sub;
            }
          }
        }
        .content-bottom{
          &--add-btn{
            background: #3ccace;
            border: 1px solid #3ccace;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            margin: 30px 0 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
