.single-container {
  padding: 0 0 220px;
  .single-header {
    height: 128px;
    text-align: center;
    h1 {
      margin: 40px 0 0;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
        img {
          width: 185px;
          height: 49px;
        }
      }
    }
    .signup-bar.progress-bar {
      padding: 40px 0 0 44px;
      border: 0;
    }
  }
}
