.main_background{
  background-color: #f4f4f4;

  .l_container{
    background-color: #f4f4f4;
    width: 1020px;
    height: 1292px;
    margin: 0px auto 0;
    padding-top: 40px;
    display: flex;

    .nav_side{
      width: 280px;
      height: 1252px;
      margin-right: 40px;
      

      .myPage_nav{
        width: 280px;
        height: 685px;

        .page_nav_lists{
          list-style: none;

          .list{
            position: relative;
            display: flex;
            text-decoration: none;
            width: 248px;
            padding: 16px;
            height: 16px;
            color: #333;
            margin-bottom: 1px;
            background-color: #fff;
            &:hover{
              background-color: #f7f7f7;
            }
            &:hover .fa-chevron-right{
              position: absolute;
              right: 15px;
              // width: 1.5em;
              color: #333;
              transition: 0.5s;
            }

            .fa-chevron-right{
              color: rgb(175, 175, 175);
              height: 16px;
              margin-left: auto;
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              &::before {
                
                font-family: FontAwesome;
                content: "\f054";
              }
            }
          }
        }
      }
    }
    .subtitle{
      margin-top: 40px;
      line-height: 1.6;
    }
    .FURIMAPay-settings_nav{
      width: 280px;
      height: 97px;

      .page_nav_lists{
        list-style: none;

        .list{
          display: flex;
          text-decoration: none;
          width: 248px;
          padding: 16px;
          height: 16px;
          color: #333;
          margin-bottom: 1px;
          background-color: #fff;

          .fa-chevron-right{
            height: 16px;
            margin-left: auto;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            &::before {
              font-family: FontAwesome;
              content: "\f054";
            }
          }
        }
      }
    }
    .main{
      width: 700px;
      height: 932px;

      .myPage_user_icon{
        height: 200px;
        background-image: image-url("gazo1.jpeg");
        text-align: center;
        position: relative;
        a{
          text-decoration: none;
          line-height: 1.5;
          &:hover{
            opacity: 0.7;
          }
        }
        .myPage_linkBtn{
          position: absolute;
          top: 22.25%;
          display: block;
          color: #333;
          width: 700px;
          // height: 111px;
          .image{
            width: 60px;
            height: auto;
            margin: 0 auto;
          }
          
          .my_user_name{
            font-size: 13.5px;
          }
          .myPage_number{
            display: flex;
            margin-top: 10px;
            span{
              font-weight: bold;
            }
            .evaluation{
              margin-left: auto;
              margin-right: 20px;
            }
            .selling{
              margin-right: auto;
            }
          }
        }
      }
    }
  }
}

.myPage_tab_notification{
  // background-color: rgb(255, 185, 249);  
  width: 700px;
  margin-bottom: 40px;
  // height: 600px;

  .myList_tabs{
    width: 700px;
    height: 74px;
    list-style: none;
    display: flex;
    a{
      text-decoration: none;
    }
    .notification_tab{
      width: 50%;
      text-align: center;
      background-color: #fff;
      
      .notification_link{
        width: 100%;

        .notification_text{
          font-size: 16px;
          font-weight: bold;
          line-height: 74px;
          color: #333;
          &:hover{
            opacity: 0.7;
          }
        }
        
      }
    }
    .toDo_tab{
      width: 50%;
      text-align: center;
      background-color: #eeeeee;
      .toDo_link{
        width: 100%;
        .toDo_text{
          font-size: 16px;
          font-weight: bold;
          line-height: 74px;
          color: #333;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }
  .tab_content_box{
    .tab_content{
      background-color: #fff;
      margin: 0 0 1px 0;
      height: 81px;
      list-style: none;
      
      &:hover{
        background-color: #fafafa;
      }
      a{
        text-decoration: none;
      }
      .link_tab{
        display: flex ;
        align-items: center;

        .image_content{
          margin: 16px 0 0 16px;
          .image{
            height: 48px;
            width: auto;
          }
        }
        .textBox{
          color: #333;
          margin: 16px 20px 0 20px;
          font-size: 13.5px;
          .timeBox{
            margin-top: 5px;
            display: flex;
            .timeIcon{

              .fa-clock{
                height: 18px;
                margin-left: auto;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                color: rgb(180, 180, 180);

                &::before{
                  font-size: 20px;
                  font-family: FontAwesome;
                  content: "\f017";
                }
              }
            }
            .timeNumberText{
              color: rgb(160, 160, 160);
              font-size: 13.5px;
              margin-left: 10px;
              line-height: 1.7;
              // font-weight: bold;
            }
            .timeText{
              color: rgb(160, 160, 160);
              font-size: 14px;
              margin-left: 4px;
              line-height: 1.5;
            }
          }
        }
        .fa-chevron-right{
          height: 16px;
          margin-left: auto;
          margin-right: 12px;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          &::before {
            font-family: FontAwesome;
            content: "\f054";
          }
        }
      }
    }
    .jump_to_galary{
      background-color: #fff;
      width: calc(100% - 30px);
      height: 58px;
      padding: 15px;
      list-style: none;

      .linkBox{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #eeeeee;
        &:hover{
          background-color: #fafafa;
        }
        a{
          text-decoration: none;
        }
        .galary_link{
          width: 100%;
          text-align: center;
          position: absolute;
          padding: 21px 0;
          
          .showGalary_text{
            color: #333;
          }
        }
      }
    }
  }
}

.myPage_tab_buyItems{
  // background-color: rgb(255, 185, 249);  
  width: 700px;
  margin-bottom: 40px;
  // height: 600px;
  .myPage_tab_head{
    width: calc(100% - 32px);
    height: 72px;
    background-color: #fbfbfb;
    padding: 0 16px;
    line-height: 72px;
  }

  .myList_tabs{
    width: 700px;
    height: 74px;
    list-style: none;
    display: flex;
    a{
      text-decoration: none;
    }
    .notification_tab{
      width: 50%;
      text-align: center;
      background-color: #fff;
      
      .notification_link{
        width: 100%;

        .notification_text{
          font-size: 16px;
          font-weight: bold;
          line-height: 74px;
          color: #333;
          &:hover{
            opacity: 0.7;
          }
        }
        
      }
    }
    .toDo_tab{
      width: 50%;
      text-align: center;
      background-color: #eeeeee;
      .toDo_link{
        width: 100%;
        .toDo_text{
          font-size: 16px;
          font-weight: bold;
          line-height: 74px;
          color: #333;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }
  .tab_content_box{
    .tab_content{
      background-color: #fff;
      margin: 0 0 1px 0;
      height: 81px;
      list-style: none;
      &:hover{
        background-color: #fafafa;
      }
      a{
        text-decoration: none;
      }
      .link_tab{
        display: flex ;
        align-items: center;

        .image_content{
          margin: 16px 0 0 16px;
          .image{
            height: 48px;
            width: auto;
          }
        }
        .textBox{
          color: #333;
          margin: 16px 20px 0 20px;
          font-size: 13.5px;
          .timeBox{
            margin-top: 5px;
            display: flex;
            .timeIcon{

              .fa-clock{
                height: 18px;
                margin-left: auto;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                color: rgb(180, 180, 180);

                &::before{
                  font-size: 20px;
                  font-family: FontAwesome;
                  content: "\f017";
                }
              }
            }
            .timeNumberText{
              color: rgb(160, 160, 160);
              font-size: 13.5px;
              margin-left: 10px;
              line-height: 1.7;
              // font-weight: bold;
            }
            .timeText{
              color: rgb(160, 160, 160);
              font-size: 14px;
              margin-left: 4px;
              line-height: 1.5;
            }
          }
        }
        .fa-chevron-right{
          height: 16px;
          margin-left: auto;
          margin-right: 12px;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          &::before {
            font-family: FontAwesome;
            content: "\f054";
          }
        }
      }
    }
    .jump_to_galary{
      background-color: #fff;
      width: calc(100% - 30px);
      height: 58px;
      padding: 15px;
      list-style: none;

      .linkBox{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #eeeeee;
        &:hover{
          background-color: #fafafa;
        }
        a{
          text-decoration: none;
        }
        .galary_link{
          width: 100%;
          text-align: center;
          position: absolute;
          padding: 21px 0;
          
          
          .showGalary_text{
            color: #333;
          }
        }
      }
    }
  }
}
.logout_container{
  width: 700px;
  height: 50px;
  padding: 65px 190px;
  background-color: #fff;
  .logoutBox{
    background-color: rgb(0, 206, 195);
    
    text-align: center;
    line-height: 50px;
    a{
      text-decoration: none;
      color: #fff;
      font-size: 14px;
    }
    .logoutBtn{
      padding: 17px 125px;
      background-color: rgb(0, 206, 195); 
      width: 100%;
      height: 5em;
    }
  }
}
.credit_registration_container{
  width: 700px;
  height: 50px;

  .subtitleBox{
    font-size: 25px;
    color: #333;
    text-align: center;
    background-color: #fff;
    line-height: 2;
    margin-bottom: 2px;
  }
  .creditBox{
    width: 100%;
    height: 225px;
    background-color: #fff;
    margin-bottom: 2px;
    .text{
      padding-top: 100px;
      margin-left: 190px;
    }
    .darkSkyblue_btn{
      
      margin: 25px 0 0 0;
      margin-left: 190px;
      width: 320px;
      height: 50px;
      
      a{
        text-decoration: none;
        color: #fff;
      }
      line-height: 50px;
      .blue_btn{
        background-color: rgb(0, 206, 195);
        width: 320px;
        height: 50px;
        padding: 17px 59.6px;
        font-size: 14px;
        &:hover{
          opacity: 0.7;
        }

        .fa-credit-card{
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          &::before {
            font-family: FontAwesome;
            content: "\f09d";
          }
        }
      }
    }
  }
  .how_to_payBox{
    background-color: #fff;
    width: 700px;
    height: 100px;
    a{
      text-decoration: none;
      font-size: 14px;
    }
    .pay_link{
      margin-left: 500px;
      line-height: 100px;
      color: rgb(0, 206, 195);
      &:hover{
        opacity: 0.7;
        border-bottom: 1px rgb(0, 206, 195) solid;
      }

      .fa-chevron-right{
        height: 16px;
        margin-left: 10px;
        margin-right: 12px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        &::before {
          font-family: FontAwesome;
          content: "\f054";
        }
      }
    }
  }
}
