test
%a.cp_btn{href: "/signup_users"} S T A R T


%body
  .login-container
    %header.login-container--header
      %h1
        %a{href: "#"}
          %img{alt: "Furima", src: ""}/
    %main.login-container--main
      .login-container--main--panel
        .login-container--main--panel--account
          %p アカウントをお持ちでない方はこちら
          %a{href: "/signup_users"} 新規会員登録
        .login-container--main--panel--form
          %button#facebook-login.login-container--main--panel--form__facebook
            %i.fab.fa-facebook-square
            Facebookでログイン
          %button#google-login.login-container--main--panel--form__google
            Googleでログイン
        %form{action: "https://www.mercari.com/jp/login/", method: "POST", novalidate: "novalidate"}
          .login-container--main--panel--group
            .form-group
              %input.login-input-text.input-default{name: "email", placeholder: "メールアドレス", type: "email", value: ""}/
            .form-group
              %input.login-input-text.input-default{name: "password", placeholder: "パスワード", type: "password"}/
            .form-group
              .g-recaptcha.login-captcha{"data-sitekey": "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
                %div{style: "width: 304px; height: 78px;"}
                  %div
                    %iframe{frameborder: "0", height: "78", name: "a-xt8ku6ohvrb", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=JZfekeK8w6ZlhLfH_ZyseSLX&size=normal&cb=wuvk3q1u5gw6", width: "304"}
                  %textarea#g-recaptcha-response.g-recaptcha-response{name: "g-recaptcha-response", style: "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
            %button.login-submit.btn-default.btn-red{type: "submit"} ログイン
            %input{name: "login_callback", type: "hidden", value: "/jp/"}/
            %input{name: "__csrf_value", type: "hidden", value: "fb40e8bf39aa02ec208a9f883564545b53e163b1c3d1c096fcf8662772c62008bca1496058e7aa10e3ae36dd1d2060a3e4cb99bc15eb2546fc1620bb7089d2dfb"}/
            %a{href: "https://www.mercari.com/jp/password/reset/start/"} パスワードをお忘れの方
            -# 実装できるか分からない為、保留
      %form#login_form_facebook{action: "/jp/login/", method: "POST", novalidate: "novalidate"}
        %input{name: "__csrf_value", type: "hidden", value: "fb40e8bf39aa02ec208a9f883564545b53e163b1c3d1c096fcf8662772c62008bca1496058e7aa10e3ae36dd1d2060a3e4cb99bc15eb2546fc1620bb7089d2dfb"}/
        %input{name: "nickname", type: "hidden", value: ""}/
        %input{name: "email", type: "hidden", value: ""}/
        %input{name: "facebook_user_id", type: "hidden", value: ""}/
        %input{name: "facebook_access_token", type: "hidden", value: ""}/
        %input{name: "login_type", type: "hidden", value: "facebook"}/
        %input{name: "login_callback", type: "hidden", value: "/jp/"}/
      %form#login_form_google{action: "/jp/login/", method: "POST", novalidate: "novalidate"}
        %input{name: "__csrf_value", type: "hidden", value: "fb40e8bf39aa02ec208a9f883564545b53e163b1c3d1c096fcf8662772c62008bca1496058e7aa10e3ae36dd1d2060a3e4cb99bc15eb2546fc1620bb7089d2dfb"}/
        %input{name: "nickname", type: "hidden", value: ""}/
        %input{name: "email", type: "hidden", value: ""}/
        %input{name: "google_user_id", type: "hidden", value: ""}/
        %input{name: "google_access_token", type: "hidden", value: ""}/
        %input{name: "login_type", type: "hidden", value: "google"}/
        %input{name: "login_callback", type: "hidden", value: "/jp/"}/
      %input#google_client_id{type: "hidden", value: "238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com"}/
      %input#facebook_app_id{type: "hidden", value: "466308336793848"}/
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            %a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      %a.single-footer-logo{href: "https://www.mercari.com/jp/"}
        %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?35314277", :width => "80"}/
      %p
        %small © Mercari, Inc.
  %script{gapi_processed: "true", src: "https://apis.google.com/js/api:client.js"}
  %script{src: "//www-mercari-jp.akamaized.net/assets/js/app.js?1524214087"}
  